.git
.github
.vscode
.pytest_cache

node_modules
**/node_modules
**/node_modules/**
.pnpm-store

.next
**/.next
**/.next/**
dist
coverage
playwright-report
test-results

.env
.env.*
**/.env
**/.env.*
*.log

.venv
**/.venv
**/.venv/**
apps/ai/.venv
__pycache__/
*.pyc

.chroma
**/.chroma
**/.chroma/**
apps/ai/.chroma

infra/cdk/cdk.out
aws
awscliv2.zip
docs
apps/web
